#pageSix{
    margin-top: 10px;
    min-height: 100%;
    width: 100%;
   background-color: #111;
   border-radius: 10px;
   padding: 50px;
   
}
h2{ 
    font-size: 13vmin;
    font-family: talha2;
    text-align: center;
}
#ems h5{
    font-size: 35px;
    color: white;
    font-family: serif;
    margin: 20px 0;
}
#title h6{
    color: white;
}
#title h6 span{
    color: gray;
}
#ems h6{
    margin: 5px 0;
    font-size: 15px;
    font-family: talha3;
}
#description p{
    font-size: 16px;
    text-align: justify;
    margin: 15px 0;
   
}
#note p{
   color: red;
   font-size: 15px;
    font-weight: bold;
}
ul{
    list-style-type: square;
    font-size: 20px;
}
ul li{
    margin: 5px 0;
    font-family: talha1;
    color: rgb(250, 250, 250);
}
#skillful h5{
    font-size: 30px;
    font-family: serif;
    margin: 10px 0;
}
#passwords big{
    font-size: 30px;
    font-family: talha2;
    margin: 20px 0;
}
#passwords #big{
    display: block;
    padding: 10px 0;
    font-size: 35px;
    font-family: talha4;
}
#ems a{
    text-decoration: none;
    color: rgb(235, 70, 5);
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0;
    display: block
    
}
@media (max-width: 455px) {
    #ems h5{
        font-size: 30px;
        font-weight: bold;
    }
    
}
/* #adminauthentication{                                                                                                                                                                                                                                        
    width: 50%;
   

}
#userauthentication{
    width: 50%;
   
} */